<!--底部-->

<div id="footer" class="clearfix">
  <p class="gongshang"><img src="http://static.mama.cn/images/common/gongshang.gif"></p>
  <p><a href="http://www.mama.cn/">妈妈网</a> | <a href="http://about.mama.cn/">公司简介</a> | <a href="http://about.mama.cn/news.html">媒体报道</a> | <a href="http://about.mama.cn/contact.html">联系我们</a> | <a href="http://about.mama.cn/join us.html">诚聘英才</a> | <a href="http://about.mama.cn/link.html">友情链接</a></p>
  <p>联系地址：北京市朝阳区建国路93号院万达广场8号楼1702室</p>
  <p>COPYRIGHT MaMa.cn All Right Reserved 版权所有：妈妈网 粤ICP备09174648号-35</p>
</div>
</body></html>