<!doctype html>
<html>
<head><meta http-equiv="content-type" content="text/html;charset=UTF-8">
<title>妈妈网同龄圈频道</title>
<meta name="keywords" content="妈妈网,女性">
<meta name="description" content="妈妈网同龄圈频道,是媒体平台">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<link href="static/tongji/css/global.css" rel="stylesheet" type="text/css">
<link href="static/tongji/css/agegroup.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--global header -->
<div id="commonHd">
	<div class="wrap">
		<div class="navList clearfix">
		<p class="home"><a target="_blank" href="http://www.mama.cn">妈妈网首页</a></p>
		  <ul class="channel clearfix">
				<li><a href="http://baby.mama.cn/">家庭</a> | </li>
				<li><a href="http://life.mama.cn/">生活</a> | </li>
				<li><a href="http://buy.mama.cn/">消费</a> | </li>
                <li><a href="http://buy.mama.cn/">同龄圈</a></li>
		   </ul>
		</div>
		<ul class="other">
			<li class="fav"><a href="javascript:void(0)"  class="lognre">注册</a><a href="javascript:void(0)" class="lognre">登录</a><a href="javascript:void(0)" class="qqLogn">用QQ登录</a></li>
            <li class="favLogn" style="display:none;">你好，<a href="javascript:void(0)" >zqj2011</a>|<a href="javascript:void(0)" class="lognre">提醒(4)</a>|<a href="javascript:void(0)" class="qqLogn">短消息</a>|<a href="javascript:void(0)" class="qqLogn">退出</a></li>
		</ul>
	</div>
</div>