<!--{subtemplate common/header}-->
<!--agegroup body-->
<div id="mainCenter">
  <div class="mainWrap clearfix">
   <div id="centerBanner">
     <strong id="spacename" >admin的个人空间</strong>
     <a id="domainurl" href="" >http://localhostjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj/age/?1</a> &nbsp;&nbsp;<a id="domainurl" href="" >[复制]</a>
   </div>                                                                            
   <ul id="centerNav"><li><a href=""  target="_blank">空间首页</a></li><li><a href=""  target="_blank">个人信息</a></li><li><a href=""  target="_blank">主题</a></li><li><a href=""  target="_blank">回复</a></li><li><a href=""  target="_blank">好友</a></li><li><a href=""  target="_blank">短信息</a></li><li class="noMargin"><a href=""  target="_blank">提醒</a></li></ul>
     <div class="mdCenterLeft">
         <div class="selfData borderGray">
           <div class="mdhead"><h1>个人资料</h1></div> 
            <p class="mdPic"><img src="images/renwu5.gif" alt="" ></p> 
            <p class="title3">zqj2011</p>
            <dl class="pil clearfix"><dt>BB生日：</dt><dd> 2012-01-01 </dd><dt>地区： </dt><dd>东山口、农林路、执信路</dd><dt>帖子：</dt><dd>174&nbsp;</dd><dt>注册时间：</dt><dd>2011-2-11&nbsp;</dd></dl>
            <p class="mygroup title3">我的圈子：<br/>2012年03月宝宝同龄圈</p>       
         </div>
         <div class="borderGray">
           <div class="mdhead"><h1>我的好友</h1></div> 
            <ul class="birth ctFrVt clearfix">
            <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank" >牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank" >牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank" >牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
       </ul>           
         </div>
         <div class="borderGray">
           <div class="mdhead"><h1>最新访客</h1></div> 
            <ul class="birth ctFrVt clearfix">
            <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
         <li>
            <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
            <span>
             <i ><a href="" target="_blank">牛牛妈的宝宝妈的</a></i>
            </span>
         </li>
       </ul>             
         </div>
     </div>
     
     <div class="mdCenterRight">
      <div class="borderGray">
       <div class="mdhead"><h1>主题</h1></div>
       <ul class="mdList">
               <li><a href="" target="_blank">月子饮食遵循4大原则补元气4大原则补如何让孩子穿得安全又舒适？分享童装选购经，赢人气兔公仔！获奖名单已在2楼已公布!元气  </a></li>
               <li><a href="" target="_blank">月子饮食遵循4大原则补元气4大原则补元气  </a></li>
               <li><a href="" target="_blank">月子饮食遵循4大原则补元气4大原则补元气  月</a></li>
               <li><a href="" target="_blank">2012年12月</a></li>
               <li><a href="" target="_blank">2012月子饮食遵如何让孩子穿得安全又舒适？分享童装选购经，赢人气兔公仔！获奖名单已在2楼已公布!循4大原则补元气4大原则补元气  年11012年11012年11012年11012年11</a></li>
               <li><a href="" target="_blank">2012年12月</a></li>
               <li><a href="" target="_blank">2013年101月</a></li>
               <li><a href="" target="_blank">2012年12月</a></li>
               <li><a href="" target="_blank">2012年11月012年11012年11012年11012年11012年11</a></li>
               <li><a href="" target="_blank">2012年12月</a></li>
          </ul>
      </div> 
      <div class="borderGray">
       <div class="mdhead"><h1>回复</h1></div>
       <ul class="mdList">
               <li><a href="" target="_blank">月子饮食遵循4大原则补元气4大原则补元气  </a></li>
               <li><a href="" target="_blank">月子饮食遵循4大原则补元气4大原则补元气  </a></li>
               <li><a href="" target="_blank">月子饮食遵循4大原则补元气4大原则补元气  月</a></li>
               <li><a href="" target="_blank">2012年12月</a></li>
               <li><a href="" target="_blank">2012月子饮食遵循4大原则补元气4大原则补元气  年11012年11012年11012年11012年11</a></li>
               <li><a href="" target="_blank">2012年12月</a></li>
               <li><a href="" target="_blank">2013年101月</a></li>
               <li><a href="" target="_blank">2012年12月</a></li>
               <li><a href="" target="_blank">2012年11月012年11012年11012年11012年11012年11</a></li>
               <li><a href="" target="_blank">2012年12月</a></li>
          </ul>
      </div>
  <div class=" borderGray">
          <div class="mdhead"><h1>留言版</h1></div> 
            <div class="lvMg">                 
                 <span id="comment_face" title="插入表情" style="cursor: pointer;"><img src="static/image/common/facelist.gif" alt="facelist" ></span>
                 <p class="tedt">
                  <textarea id="comment_message"  name="message" rows="5" class="pt"></textarea>
                 </p>
                 <button type="submit" name="commentsubmit_btn" value="true" id="commentsubmit_btn" class="grayButton"><strong>留言</strong></button>
            </div>
        <ul class="active newJion lvMgDt">
          <li class="clearfix">
           <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
           <span>
              <i><em class="y"><a href=""  class="lvReply">编辑</a><a href="" class="lvDelete">删除</a></em><a href="" target="_blank" class="title3">2011年6月宝宝同龄圈</a>2012-4-5 15:18</i>
              <i class="detail3">靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？</i>
           </span>
          </li>
          <li class="clearfix">
           <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
           <span>
              <i><em class="y"><a href=""  class="lvReply">编辑</a><a href="" class="lvDelete">删除</a></em><a href="" target="_blank" class="title3">2011年6月宝宝同龄圈</a>2012-4-5 15:18</i>
              <i class="detail3">靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？</i>
           </span>
          </li>
          <li class="clearfix">
           <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
           <span>
              <i><em class="y"><a href=""  class="lvReply">编辑</a><a href="" class="lvDelete">删除</a></em><a href="" target="_blank" class="title3">2011年6月宝宝同龄圈</a>2012-4-5 15:18</i>
              <i class="detail3">靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？</i>
           </span>
          </li>
          <li class="clearfix">
           <a href="" target="_blank" class="mdPic"><img src="images/renwu2.gif" alt="" ></a>
           <span>
              <i><em class="y"><a href=""  class="lvReply">编辑</a><a href="" class="lvDelete">删除</a></em><a href="" target="_blank" class="title3">2011年6月宝宝同龄圈</a>2012-4-5 15:18</i>
              <i class="detail3">靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？靓妈，我家兔宝贝这个月周岁生日，想搞个派对，你可不可以帮我们找个地方组织起来啊？</i>
           </span>
          </li>
          </ul>
          <div class="pgs clearfix">
            <div class="pg clearfix"><strong>1</strong><a href="">2</a><a href="">3</a><a href="">4</a><a href="" class="nxt">下一页</a></div>
            <span id="visitedforums" class="pgb y"><a href="http://www.gzmama.com/forum.php">返回论坛首页</a></span>
          </div>
       </div>          
     </div>             
 </div>
</div>   
<!--{subtemplate common/footer}-->
